@import "main";
@import "index";


#agency{
    padding-top: 40px;
    h1{
        color: #F9C784;
        text-align: center;
        font-size: 1.8em;
    }
  
}



#agency-one{
  
    h5{
        color: #F9C784;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.8em;
      }
}



#agency-two{
    .agency-two-img{
        margin-top: 10px;
    }
    h2{
        color: #F9C784;
        padding: 30px 0px 10px 0px;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    p{
        color: #fff;
    }
}







// 5 best ways to earn money online for teenagers 

#meesho{
    margin-top: 40px;
    h1{
        color: #F9C784;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    p{
        color: #fff;
    }
}


#meesho-one{
    h5{
        color: #F9C784 !important;  
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.8em;
    }
}


#meesho-two{
    margin-bottom: 20px;
    h2{
        color: #F9C784 !important;
        margin-top: 15px;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    p{
        color: #fff;
    }
}





// 7 best ways to make money online 2020

#ecom{
    margin-top: 40px;
   h1{
    color: #F9C784 !important;
    font-size: 1.8rem;
    text-transform: uppercase;
}
}



#ecom-one{
    h5{
        color: #F9C784 !important;  
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.8em;
    }
}



#ecom-two{
    .ecom-two-content{
        h2{
            color: #F9C784 !important;
            font-size: 1.6rem;
            margin: 20px 0px 15px 0px;
            text-transform: uppercase;
           }
    }
}





// 10 legit ways to make money as a teenager 


#scrap{
    margin-top: 40px;
    h1{
     color: #F9C784 !important;
     font-size: 1.6rem;
     text-transform: uppercase;
    }
}



#scrap-one{
    h5{
        color: #F9C784 !important;  
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.8em;
    }
    .scrap-one-home{
        h5{
        line-height: 1.8em;
        }
    }
}





#scrap-two{
    .scrap-two-img{
        padding: 25px 0px 5px 0px;
    }
    .scrap-two-content{
        h2{
            color: #F9C784 !important;  
            margin: 15px 0px 10px 0px;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        h1{
            color: #F9C784 !important;  
            margin: 15px 0px 10px 0px;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        p{
            color: #fff;
        }
    }
}










// Top 15 ways teenagers can make money online

#errands{
    h1{
    margin-top: 40px;
    color: #F9C784 !important;
    font-size: 1.6rem;
    text-transform: uppercase;
}
}


#errands{
    .errands-content{
        h5{
            color: #F9C784 !important;
            font-size: 1.2rem;
            line-height: 1.8em;
            text-transform: uppercase;
        }
    }
}



#errands-one{
    .errands-one-content{
        .color{
            color: #F9C784 !important;
        }
       h2{
        color: #F9C784 !important;
        font-size: 1.6rem;
        margin-top: 10px;
        text-transform: uppercase;
       }
           li{
               color: #fff;
           }
    }
}












// earn money category


.earn-money-category{
    h1{
        font-weight: 700 !important;
        font-size: 1.8em !important;
    }
}




.earn-money-category{
    a{
        text-decoration: none;
        list-style-type: none;
    }
    .card-img-top{
        width: 100%;
        height: 250px;
    }
}